body {
    background: rgb(229, 229, 229);
}
.list-group-item  {
    align-items: center;
    margin: auto;
}
ul, input{
    width: 400px;
}
.btn-light{
color: white;
margin-right: auto;
}
.separar {
    display: flex;
    justify-content: space-between;
}
.boton {
    display: flex;
    justify-content: end;
}
.contador {
    font-size: x-small; 
    display: flex;
    justify-content: initial;
}
.Todo {
    font-family: cursive
}